@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Space+Grotesk:wght@300..700&display=swap');
@import "tailwindcss";

html, body{
    font-family: 'Space Grotesk', 'sans-serif';
    overflow-x: hidden;
}
h1, h2, h3, h4{
    font-family: 'Orbitron', 'sans-serif';
}

@keyframes float {
  0%   { transform: translateY(0px); }
  50%  { transform: translateY(-15px); }
  100% { transform: translateY(0px); }
}

.floating-image {
  animation: float 2s ease-in-out infinite;
  transform-origin: center center;
}

.font-orbitron{
    font-family: 'orbitron';
}
.popup {
  position: fixed;
  top: 50px;
  right: 20px;
  padding: 12px 18px;
  border-radius: 6px;
  color: #fff;
  font-weight: 500;
  z-index: 1000;
}

.success {
  background-color: #22c55e;
}

.error {
  background-color: #ef4444;
}
