@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Space+Grotesk:wght@300..700&display=swap');
@import "tailwindcss";

body{
    font-family: 'Space Grotesk', 'sans-serif';
}
h1, h2, h3, h4{
    font-family: 'Orbitron', 'sans-serif';
}

@keyframes float {
  0%   { transform: translateY(0px); }
  50%  { transform: translateY(-15px); }
  100% { transform: translateY(0px); }
}

.floating-image {
  animation: float 2s ease-in-out infinite;
}

.font-orbitron{
    font-family: 'orbitron';
}